.card{
    position: relative;
    /* background-color: blanchedalmond; */
}

.card img{
    width: 100%;
    height: 100%;
    object-fit:scale-down;

}
.card .front{
    transform: rotateY(90deg);
    position: absolute;
    background-color: white;
    transition: all ease-in 0.2s;
}

.flipped .front{
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.card .cover{
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .cover{
    transform: rotateY(90deg);
    transition-delay: 0s;
}